body{
    background-image: url("../images/Handmade__bg.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size:cover;
    font-size: .85rem;
}
.homepage{
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homepage__logo{
    max-height: 150px;
    max-width: 80%;
}
p{
    color: white;
}
.sidebar__logo{
    max-height: 60px;
    max-width:40%;

}
.about_title{
    font-size:18px;
}
.about_para{
    text-align: justify;
}
.row__products > div[class*="col"]:hover{
    box-shadow: 0 8px 56px rgba(0,0,0, .5);
 }
 .row__products > div[class*="col"] {
    transition: all .3s;
    cursor: pointer;
    box-shadow: 0  0 0 1px rgba(0,0,0,.1);
 }
 img{
    width: 100%;
}
.title_style{
    line-height: 0.8 !important; 
    font-weight: bold !important;
}